<ul class="flat-list">
	{{#each data}}
	<li>
		<img src="{{thumbnail}}" class="thumb img-polaroid"/>
		<h3><a href="{{link}}">{{title}}</a></h3><br />
	 	<span class="price">{{price}}</span>
	 	<span class="added-date">Added on {{addedDate}}</span>
	 	<span class="available-date">Available on {{availableDate}}</span>
	 	<span>{{bedrooms}} rooms, </span>
	 	<span>{{location}}</span>
	 	{{#unless isAgent}}
	 	<span class="private label label-success">Private</span>
	 	{{/unless}}
	</li>
	{{/each}}
</ul>