<ul>
	{{#each data}}
	<li>
		<img src="{{thumbnail}}" class="img-polaroid"/>
		<h2><a href="{{link}}">{{title}}</a></h2>
	 	<h3>{{price}}</h3>
	 	<span>{{availableDate}}</span>
	 	<span>{{bedrooms}}</span>
	 	<span>{{location}}</span><br />
	 	<span>{{sellerType}}</span>
	 	<br /> <br />
	</li>
	{{/each}}
</ul>